@model IEnumerable<Daylinger.Controllers.Test>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.MyProperty)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MyProperty)
                    </td>
                </tr>
            }
        </tbody>
    </table>

<a asp-action="Index">back</a>

